/* -- SMARTPHONE -- */

@media (max-width: 375px) 
{   
    /* -- HEADER -- */

    header
    {
        float: left;
    }

    .navbar 
    {
        display: unset;
        position: unset;
        padding-left: 20px;
        padding-right: 20px;
    }

    #logo
    {
        padding-top: 20px;
    }

    .presentation
    {
        justify-content: flex-start;
    }

    #heb
    {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 70px;
    }

    #act
    {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 93px;
    }

    #ins
    {
        margin-top: -65px;
        margin-left: -80px;
    }

    /* -- DESCRIPTIF -- */

    #descriptif
    {
        padding-left: 40px;
    }

    .mobile-descriptif
    {
        padding-right: 5px;
        padding-left: 13px;
    }

    /* -- BARRE DE RECHERCHE -- */

    #recherche
    {
        width: 279px;
        margin-left: 50px;
    }

    .hidden
    {
        display: flex;
        margin-top: 19px;
        margin-left: -3px;
    }

    .mobile-texte
    {
        visibility: hidden;
    }

    button 
    {
        background-color: #0065FC;
        border-radius: 15px;
        width: 50px;
    }

    /* -- SECTION FILTRE -- */

    #filtre-container
    {
        line-break: strict;
        padding-left: 0px;
        display: flex;
        justify-content: center;
    }

    .mobile-filtre
    {
        padding: 20px;
    }

    .filtre-texte
    {
        margin-bottom: 20px;
    }

    #filtre-hover
    {
        display: unset;
        
    }

    .container-inf {
        padding-left: 20px;
    }

    /* -- INFO -- */

    .info
    {

    margin-top: 3px;
    margin-bottom: 5px;
    }

    /* -- SECTION HEBERGEMENT -- */

    main
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    #hebergement 
    {
        flex-wrap: wrap-reverse;
    }

    .background-heb 
    {
        background-color: transparent;
    }    

    .container-heb
    {
        margin-top: 0px;
    }

    #hebergement
    {
        justify-content: center;
    }

    .carte-heb 
    {
        width: 314px;
        margin-top: 20px;
        margin-right: 0px;
        border-radius: 15px;
        box-shadow: 5px 5px 15px -5px #aaa;
        background-color: white;
    }

    /* -- SECTION POPULAIRE -- */

    #populaire
    {
        border-radius: 0px;
        padding: 30px 40px 40px 40px;
    }

    .carte-pop 
    {
        display: flex;
        width: 320px;
        height: 160px;
        margin-top: 30px;
        margin-bottom: 0px;
        border-radius: 15px;
        box-shadow: 5px 5px 15px -5px #aaa;
        background-color: white;
        margin-left: 0px;
        margin-right: 0px;
    }

    .carte-pop img 
    {
        object-fit: cover;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 160px;
        width: 130px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
    }

    /* -- SECTION ACTIVITE -- */

    #activites 
    {
        padding-left: 20px;
    }

    .container-act 
    {
        display: unset ;
    }

    .max-img 
    {
        width: 320px;
        height: 200px;
        margin-right: 0px;
        margin-left: 0px;
        min-height: 220px;
    }

    .carte-max-img 
    {
        height: 70%;
    }

    .med-img 
    {
        height: 210px;
    }

    .carte-med-img 
    {
        height: 70%;
    }

    .min-img 
    {
        height: 210px;
    }

    .carte-min-img 
    {
        height: 70%;
    }

    /* -- FOOTER -- */

    footer 
    {
        padding: 50px;
    }

    #container-footer 
    {
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: unset;
    }

    .mobile-pad-title
    {
    margin-bottom: 20px;
    }

    .mobile-pad-title
    {
        margin-bottom: 10px;
    }

    /* -- FLEX -- */


    .mobile-flex
    {
        display:unset;
    }

    .hover-menu:hover
    {
        border-bottom:solid medium #0065FC;
        border-top:none;
}

}

    /*-- TABLETTE --*/
     
@media (max-width: 768px) and (min-width: 376px)
{ 

    /* -- HEADER -- */

    .navbar 
    {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    /* -- DESCRIPTIF -- */
    
    #descriptif
    {
        padding-left: 40px;
    }
    
    .mobile-descriptif
    {
        padding-left: 13px;
    }
    
    /* -- BARRE DE RECHERCHE -- */
    
    .tablette-section
    {
        padding-bottom: 0px;
    }
    
    #recherche
    {
        width: 279px;
        margin-left: 50px;
    }
    
    /* -- SECTION FILTRE -- */
    
    .filtre
    {
        width: 45px;
    }

    .tablette-dog p
    {
        margin: 6px 24px 16px 24px;
    }

    .filtre-texte 
    {
        display: flex;
        border: 2px solid #e0e0e0;
        border-radius: 50px;
        margin-left: 5px;
        margin-right: 0px;
        cursor: pointer;
        height: 50px;
        width: 185px;
    }
    
    .mobile-filtre
    {
        padding-left: 50px;
        padding-bottom: 20px;
    }
    
    .dog
    {
        display: flex;
        width: 70px;
    }

    #filtre-container 
    {
        padding-left: 50px;
        display: unset;
    }    
    .container-inf {
        padding-left: 50px;
    }
    
    /* -- SECTION HEBERGEMENT -- */
    
    main
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #hebergement 
    {
        display: unset;
        flex-wrap: wrap-reverse;
    }
    
    .background-heb 
    {
        background-color: transparent;
    }    
    
    .container-heb
    {
        margin-top: 0px;
    }
    
    #hebergement
    {
        justify-content: center;
    }
    
    .carte-heb 
    {
        width: 314px;
        margin-top: 30px;
        margin-right: 30px;
        border-radius: 15px;
        box-shadow: 5px 5px 15px -5px #aaa;
        background-color: white;
    }
    
    .tablette-section2
    {
        padding-bottom: 40px;
    }

    /* -- SECTION POPULAIRE -- */
    
    #populaire
    {
        border-radius: 0px;
        padding:30px 125px 40px 124px;
    }
    
    .carte-pop 
    {
        display: flex;
        width: 520px;
        height: 160px;
        margin-top: 30px;
        margin-bottom: 0px;
        border-radius: 15px;
        box-shadow: 5px 5px 15px -5px #aaa;
        background-color: white;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .carte-pop img 
    {
        object-fit: cover;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 160px;
        width: 260px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
    }
    
    /* -- SECTION ACTIVITE -- */
    
    #activites 
    {
        padding-left: 40px;
        padding-top: 40px;
    }
    
    .max-img 
    {
        width: 320px;
        height: 200px;
        margin-right: 0px;
        margin-left: 0px;
        min-height: 220px;
    }
    
    .carte-max-img 
    {
        height: 70%;
    }
    
    .med-img 
    {
        height: 210px;
    }
    
    .carte-med-img 
    {
        height: 70%;
    }
    
    .min-img 
    {
        height: 210px;
    }
    
    .carte-min-img 
    {
        height: 70%;
    }
    
    /* -- FOOTER -- */
    
    footer 
    {
        padding: 0px;
        padding-top: 30px;
    }
    
    #container-footer 
    {
        padding-left: 0px;
        margin-left: 60px;
    }
    
    /* -- FLEX -- */
    
    .mobile-flex
    {
        display:unset;
        padding-left: 40px;
    }

}
